<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media0.giphy.com/media/3o7abJW5ZuiByDelji/giphy.gif);">
  <div class="container">
    <h1>The <strong>Best</strong> Watch List <strong> Ever</strong>!</h1>
    <p>Create your own lists and chill!</p>
    <a>
      <%= link_to "Create a movie list", new_list_path(@bookmark), class:"btn button-52" %>
    </a>
  </div>
  </div>


<div class="cards-container ">
  <div class="movie-lists">
    <h3 class="list-title">My Lists</h3>
      <div class="cards">
        <% @lists.each do |list| %>
          <div class="card-category">
            <div class="row">
              <div class="col-lg-6">
                <h3 class="list-title"><%= list.name %> List</h3>
                  <span class="click">
                    <%= link_to "More info", list_path(list), class:"btn-click"%>
                  </span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>
